.access {
  text-align: center;
  
  &__iframe-container {
    position: relative;
    margin: 0 auto;
    border-top: 10px solid $dkGold;
      border-bottom: 10px solid $dkGold;
    
    & iframe {
      width: 100vw;
    }

    @mixin atSmall {
      position: relative;
      top: auto;

    }
  }
}