.catchphrase {
  font-family: 'parisienneregular', 'Segoe UI', sans-serif;
  text-align: center;

  &__title { 
    font-size: 2rem;
  }

  &__subtitle {
     font-size: 2rem;
     margin-top: 0;
     /* margin-left: 100px; */
  }

  &__line-top {
    width: 80%;
  }

  &__line-bottom {
    margin-top: 1em;
    width: 60%;
  }
}