.page-section {
  padding: 1.2rem 0;
  color: $dkBlue;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--flex {  

    @mixin atSmall {
    }

    @mixin atMedium {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
      }
  }

  &--teal {
    background-color: $teal;
    color: #111;
  }

  &--dkGold {
    background-color: $dkGold;
    color: #fff;
  }

  &__image {
    width: 100%;
  }
}