.site-header {
  position: absolute;
  z-index: 2;
  background-color: rgba(20,36,54, .3);

  &__logo {
    display: none;
    float: left;
  }

  &__menu-content {
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    
    li>ul {
      display: none;
    }
  }
  


}

